## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/


lib/
.runtimeconfig*.json

src/config/firebase-credentials.ts
src/config/project-owlly-firebase-adminsdk-ntjiu-bacd1f6154.json